body {
  background-color: #424242;
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Roboto Mono', monospace;
}

a:hover, a:focus {
  text-decoration: none;
}

a, .btn {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.container {
   width: 100%;
}

:focus {
  outline: none;
  box-shadow: 0px 0px 0px transparent;
}

.calculator {
  background: #F0F0F0;
  box-shadow: 2px 3px 6px #212121;
}

.displayBox {
  background: #455A64;
  padding: 0;
  min-height: 220px;
  overflow: hidden;
}

.displayText {
  margin-top: 110px;
  background: transparent;
  border: none;
  color: #FFF;
  font-size: 80px;
  font-weight: 100;
  padding-right: 20px;
  padding-bottom: -10px;
  float: right;
  display: inline-block;
  overflow: hidden;
}

.operationSide {
  background: #FFF;
  margin-top: -14px;
  padding: 0;
  padding-left: -20px;
  padding-top: 10px;
  border-left: 1px solid #E5E5E5;
}

.numberPad {
  padding-top: 14px;
}

.btn-calc, .btn-calc:focus {
  background: transparent;
  color: #A2A2A2;
  font-size: 25px;
  width: 75px;
  height: 75px;
  font-weight: 100;
  border-radius: 100px;
  outline: none;
  box-shadow: 0px 0px 0px transparent;
  border: none;
}

.btn-calc:hover {
  background: #FFF;
  color: #455A64;
}

.btn-operation {
  background: transparent;
  color: #999;
  font-size: 25px;
  /*width: 97px;*/
  width: 100%;
  height: 80.8px;
  font-weight: 100;
  border-radius: 0;
  outline: none;
  box-shadow: 0px 0px 0px transparent;
}

.btn-operation:focus {
  background: #E8E8E8;
  color: #444;
  outline: 0;
}

.btn-operation:hover {
  background: #E8E8E8;
  color: #444;
}

.equals, .equals:focus {
  background: #455A64;
  color: #FFF;
}

.equals:hover {
  background: #455A64;
  color: #FFF;
}

.clear, .clear:focus {
  background: #455A64 !important;
  color: #FFF;
  font-size: 25px;
  width: 75px;
  height: 75px;
  font-weight: 100;
  border-radius: 100px;
  outline: none;
  box-shadow: 0px 0px 0px transparent;
  border: transparent;
}

.clear:hover {
  background: #455A64;
  color: #FFF;
}

.btn-question, .btn-question:focus {
  z-index: 100;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: transparent;
  border: 2px solid #FFF;
  padding-top: 6px;
  color: #FFF;
  font-family: sans-serif;
  font-size: 18px;
  outline: none;
}

.btn-question:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #FFF;
}